cluster:
  cephVersion:
    image: ceph/ceph:v14.2.1-20190430
    allowUnsupported: false
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
    allowMultiplePerNode: false
  dashboard:
    enabled: true
  network:
    public_net: 10.2.0.0/16
    cluster_net: 10.3.0.0/16
    hostNetwork: false
  rbdMirroring:
    workers: 0
  annotations:
  resources:
  storage:
    useAllNodes: true
    useAllDevices: true
rgws:
  - name: my-rgw-cluster
    gateway:
      instances: 3
